@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Great+Vibes&display=swap');
@font-face{
    font-family: 'Work Sans', sans-serif;
    src: url('fonts/font.ttf');
  }
  
  body {
    background: #272425;
    color: #c5a78f;
    font-size: 1em;
    font-family: 'Cutive', monospace;
    line-height: 5vh;
    letter-spacing: 0.1rem;
    margin: 0;
    overflow-x: hidden;
  }
  
  div{
    font-size: 1em;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    background: #272425;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #272425;
  } 
  
  br {
    content: '';
    display: block;
    margin-bottom: 2vh;
  }

  h1, .h1, .room-name{
    font-family:  sans-serif;
    font-size: 3em;
    font-weight: 900;
  }
  
  .img {
    white-space: pre;
    display: inline-block;
    position: relative;
    left: 50%;
    font-family: 'Cutive', monospace;
    transform: translateX(-50%);
    line-height: 1vh;
  }
  
  .room-name {
    margin-top: 15vh;
    margin-bottom: 4vh !important;
  }
  
  .title {
    font-family: sans-serif;
    font-size: 12vh;
    margin-bottom: 2.5vh !important;
    line-height: 9.5vh;
  }
  
  #output {
    padding: 2vw 2vw 0 2vw;
    margin: 0 10%;
    font-size: 1.1em;
  }
  
  .output div {
    margin-bottom: 3vh;
  }

  div.itemHeader{
    margin: 0;
    font-size: 1.4em;
    font-weight: 900;
  }

  div.itemList{
    margin: 0;
  }
/* 
  #output.itemList:last-of-type {
    margin-bottom: 3vh;
  } */

  div.itemList.fadeIn:before {
    content: '-';
    margin-right: 10px;
    font-weight: 900;
    color: #63564d;
  }

  .input {
    display: flex;
    margin: 0 10% 5% 10%;
  }
  
  #input {
    height: 5vh;
    width: 98.5vh;
    color: #ebd5bd;
    caret-color:#63564d;
    background: transparent;
    font-size: 1.4em;
    font-family: 'Cutive', monospace;
    border: none;
    position: relative;
    bottom: 0.175vh;
    margin-left: .5vw;
    font-style: oblique;
  }
  
  .ml-2 {
    margin-left: 2vw;
    color:#63564d;
    height: 5vh;
    font-style: oblique;
    font-size: 1.4em;
  }
  
  
  #input:focus {
    outline: none;
  }
  
  /* color the user's input & links */
  .user, a {
    color: #ebd5bd;
  }

  .user{
    font-style: oblique;
    font-size: 1.2em;
  }
  


  @keyframes blink {
    0% {background: #c5a78f;}
    49% {background: #c5a78f;}
    60% {background: transparent;}
    99% {background: transparent;}
    100% {background: #c5a78f;}
  }
  

  
  /* title style */
  #imageTitleWrapper {
    height: 100vh;
    width: 100vw;
    top: 100vh;
    bottom: 0;
    position: fixed;
    background-color: #272425;
    z-index: 3500;
  }

  #titleWrapper img{
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

  }
  
  #txtTitleWrapper.transition{
    -webkit-animation: fadeOut linear 2s 1 normal forwards;
     -moz-animation: fadeOut linear 2s 1 normal forwards;
      -ms-animation: fadeOut linear 2s 1 normal forwards; 
     -o-animation: fadeOut linear 2s 1 normal forwards;
        animation: fadeOut linear 2s 1 normal forwards;
  }

  #DarleneWord{
    -webkit-animation: textSmoke ease-in 5s 1 normal infinite;
     -moz-animation: textSmoke ease-in 5s 1 normal infinite;
      -ms-animation: textSmoke ease-in 5s 1 normal infinite;
     -o-animation: textSmoke ease-in 5s 1 normal infinite;
        animation: textSmoke ease-in 5s 1 normal infinite;
  }

  #imageTitleWrapper.overlaySlideUp{
    -webkit-animation: overlaySlideUp ease-in 5s 1 normal forwards;
     -moz-animation: overlaySlideUp ease-in 5s 1 normal forwards;
      -ms-animation: overlaySlideUp ease-in 5s 1 normal forwards;
     -o-animation: overlaySlideUp ease-in 5s 1 normal forwards;
        animation: overlaySlideUp ease-in 5s 1 normal forwards;
  }

  #DarleneWord.transition{
    -webkit-animation: fadeOut linear 2s 1 normal forwards;
     -moz-animation: fadeOut linear 2s 1 normal forwards;
      -ms-animation: fadeOut linear 2s 1 normal forwards; 
     -o-animation: fadeOut linear 2s 1 normal forwards;
        animation: fadeOut linear 2s 1 normal forwards;
  }

  #DarleneHouse.transition{
    -webkit-animation: slideUp ease-in 5s 1 normal forwards;
     -moz-animation: slideUp ease-in 5s 1 normal forwards;
      -ms-animation: slideUp ease-in 5s 1 normal forwards;
     -o-animation: slideUp ease-in 5s 1 normal forwards;
        animation: slideUp ease-in 5s 1 normal forwards;
  }

  #DarleneHill.transition{
    -webkit-animation: slideUp ease-in 7s 1 normal forwards;
     -moz-animation: slideUp ease-in 7s 1 normal forwards;
      -ms-animation: slideUp ease-in 7s 1 normal forwards;
     -o-animation: slideUp ease-in 7s 1 normal forwards;
        animation: slideUp ease-in 7s 1 normal forwards;
  }
  #DarleneMt.transition{
    -webkit-animation: slideUp ease-in 9s 1 normal forwards;
     -moz-animation: slideUp ease-in 9s 1 normal forwards;
      -ms-animation: slideUp ease-in 9s 1 normal forwards;
     -o-animation: slideUp ease-in 9s 1 normal forwards;
        animation: slideUp ease-in 9s 1 normal forwards;
  }

  #DarleneSky.transition{
    -webkit-animation: slideUp ease-in 12s 1 normal forwards;
     -moz-animation: slideUp ease-in 12s 1 normal forwards;
      -ms-animation: slideUp ease-in 12s 1 normal forwards;
     -o-animation: slideUp ease-in 12s 1 normal forwards;
        animation: slideUp ease-in 12s 1 normal forwards;
  }

  #DarleneHouse{
    z-index:5000;
  }
  #DarleneWord{
    z-index:4000;
  }
  #DarleneHill{
    z-index:3000;
  }
  #DarleneMt{
    z-index:2000;
  }
  #DarleneSky{
    z-index:1000;
  }

  /* #imageTitleWrapper{
    background-image: url("../images/titleImage.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  } */

  #txtTitleWrapper{
    text-align: center;
    /* margin: -15vh 0 0 0; */
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    font-size: 1.2em;
    z-index: 6000;
  }

  #txtTitleWrapper h3{
    color: #c5a78f;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: normal;
  }

/* intro text */

#introText{
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0 10%;
    display: none;
}

#introText p{
    margin: 80px 0 80px 0;
    opacity: 0;
}

.show{
  display: block  !important;
}

.hide{
  display: none !important;
}

/* Scroll behaviour */

html {
    scroll-behavior: smooth;
}

/* audio */
#audioWrapper{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 7000;
}
#audioWrapper svg{
  fill:rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
}

/* dead */
#deathScree{
  position: fixed;
  background: #272425;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ebd5bd;
  font-family: sans-serif;
  z-index: 1000;
}

#deathScree > div {
  position: relative;
  text-align: center;
  left: 50%;
  right: 0;
  top: 45%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  line-height: 2;
}

#deathScree .btn{
  margin: 20px 0 0 0;
}

.keyWord{
  text-transform: uppercase;
  font-weight: 900;
}

/* btn */
.btn {
  color: #ebd5bd;
  background: #272425;
  border: 4px solid #ebd5bd;
  font-size: 1.5em;
  padding: 10px 25px;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  min-width: 120px;
}

.btn:hover, .btn:active {
color:#272425;
background:#ebd5bd;
}

/* anim */
.room-name.fadeIn {
  -webkit-animation: fadeIn linear 1s 1 normal forwards;
     -moz-animation: fadeIn linear 1s 1 normal forwards;
      -ms-animation: fadeIn linear 1s 1 normal forwards;
     -o-animation: fadeIn linear 1s 1 normal forwards;
        animation: fadeIn linear 1s 1 normal forwards;
}

.fadeIn{
  -webkit-animation: fadeIn linear 2s 1 normal forwards;
     -moz-animation: fadeIn linear 2s 1 normal forwards;
      -ms-animation: fadeIn linear 2s 1 normal forwards;
     -o-animation: fadeIn linear 2s 1 normal forwards;
        animation: fadeIn linear 2s 1 normal forwards;
}

.fadeOut{
  -webkit-animation: fadeIn linear 5s 1 reverse forwards;
     -moz-animation: fadeIn linear 5s 1 reverse forwards;
      -ms-animation: fadeIn linear 5s 1 reverse forwards; 
     -o-animation: fadeIn linear 5s 1 reverse forwards;
        animation: fadeIn linear 5s 1 reverse forwards;
}

.fadeOutSkip{
  opacity:0 !important;
}

.fadeInSkip{
  opacity:1 !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0; 
    height: 0;
    display: none;
  } 1% {
    height: auto;
  }100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    height: 0;
    display: none;
  } 1% {
    height: auto;
  }100% {
    opacity:1; 
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    height: 0;
    display: none;
  } 1% {
    height: auto;
  }100% {
    opacity:1; 
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
    height: 0;
    display: none;
  } 1% {
    height: auto;
  }100% {
    opacity:1; 
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
    height: 0;
    display: none;
  } 1% {
    height: auto;
  }100% {
    opacity:1; 
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1; 
  }100% {
    opacity:0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }100% {
    opacity:0; 
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity:1;;
  } 100% {
    opacity:0; 
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }100% {
    opacity:0; 
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }100% {
    opacity:0; 
  }
}


.slideUp{
  -webkit-animation: slideUp ease-out 1s 1 normal forwards;
     -moz-animation: slideUp ease-out 1s 1 normal forwards;
      -ms-animation: slideUp ease-out 1s 1 normal forwards;
     -o-animation: slideUp ease-out 1s 1 normal forwards;
        animation: slideUp ease-out 1s 1 normal forwards;
}

@-webkit-keyframes slideUp {
  0% {
    bottom:0;

  } 100% {
    bottom:80vh;
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  } 100% {
    transform: translate(-50%, -75%) scale(0.8);
  }
}
@-ms-keyframes slideUp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  } 100% {
    transform: translate(-50%, -75%) scale(0.8);
  }
}
@-o-keyframes slideUp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  } 100% {
    transform: translate(-50%, -75%) scale(0.8);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(-50%, 0%) scale(1);
  } 100% {
    transform: translate(-50%, -75%) scale(0.8);
  }
}




@-webkit-keyframes overlaySlideUp {
  0% {
    transform: translate(0%, 0%);
  }100% {
    transform: translate(0%, -200%);
  }
}
@-moz-keyframes overlaySlideUp {
  0% {
    transform: translate(0%, 0%);
  }100% {
    transform: translate(0%, -200%);
  }
}
@-ms-keyframes overlaySlideUp {
  0% {
    transform: translate(0%, 0%);
  }100% {
    transform: translate(0%, -200%);
  }
}
@-o-keyframes overlaySlideUp {
  0% {
    transform: translate(0%, 0%);
  }100% {
    transform: translate(0%, -200%);
  }
}
@keyframes overlaySlideUp {
  0% {
    transform: translate(0%, 0%);
  }100% {
    transform: translate(0%, -200%);
  }
}



@-webkit-keyframes textSmoke {
  0% {
    transform: translate(-50%, 0%) rotateY(0deg) rotateX(0deg) !important;
  }100% {
    transform: translate(-50%, 0%) rotateY(10deg) rotateX(10deg) !important;
  }
}
@-moz-keyframes textSmoke {
  0% {
    transform: translate(-50%, 0%) rotateY(0deg) rotateX(0deg) !important;
  }100% {
    transform: translate(-50%, 0%) rotateY(10deg) rotateX(10deg) !important;
  }
}
@-ms-keyframes textSmoke {
  0% {
    transform: translate(-50%, 0%) rotateY(0deg) rotateX(0deg) !important;
  }100% {
    transform: translate(-50%, 0%) rotateY(10deg) rotateX(10deg) !important;
  }
}
@-o-keyframes textSmoke {
  0% {
    transform: translate(-50%, 0%) rotateY(0deg) rotateX(0deg) !important;
  }100% {
    transform: translate(-50%, 0%) rotateY(10deg) rotateX(10deg) !important;
  }
}
@keyframes textSmoke {
  0% {
    transform: translate(-50%, 0%) rotateY(0deg) rotateX(0deg) !important;
  }100% {
    transform: translate(-50%, 0%) rotateY(10deg) rotateX(10deg) !important;
  }
}
